services:
  backend:
    build:
      context: .
      dockerfile: Dockerfile.backend
    restart: always
    env_file:
      - .env.prod
    ports:
      - "1100:${BACKEND_PORT}"
    networks:
      - main

  frontend:
    build:
      context: .
      dockerfile: Dockerfile.frontend
      args:
        BACKEND_PORT: ${BACKEND_PORT}
        FRONTEND_PORT: ${FRONTEND_PORT}
        VITE_BACKEND_URL: ${VITE_BACKEND_URL}
    restart: always
    env_file:
      - .env
    ports:
      - "1101:${FRONTEND_PORT}"
    networks:
      - main

networks:
  main:
    external: true
    name: sklad-db_main
